/**
* Shine
*
* Extention of Milligram framework
*/

// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$default-line-height: 1.6;
$base-font-size:      1.4rem; //14px

// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$column-count:      12;
$column-gutter:     1rem;
$max-row-width:     112rem;

$sm-width:          48em;
$md-width:          64em;
$lg-width:          75em;


// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––


// Create a list of colours which we can loop through, great if you want to add extra colours BECAUSE NOT ALL WEBSITES ONLYE HAVE 5 COLOURS!!
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$primary-color:               #353866;
$accent-color: 								#AAABD3;
$default-color: 							#CBA6C3;
$info-color: 								  #F8FAFF;

$dark-primary-color: 					#61A5A9;
$light-primary-color: 				#B2EFF0;


/*==================================================
	Define alert colours
==================================================*/

$danger-color: 								salmon;
$warning-color:								gold;
$success-color: 							palegreen;

/*==================================================
	Define hover colours
==================================================*/

$primary-hover-color: 						darken($primary-color, 15%);
$light-primary-hover-color: 			darken($light-primary-color, 15%);
$dark-primary-hover-color: 				lighten($dark-primary-color, 15%);
$accent-hover-color: 						  darken($accent-color, 15%);
$default-hover-color: 						lighten(#383734, 5%);
$info-hover-color: 							  grey;

$danger-hover-color: 						  tomato;
$warning-hover-color: 						tan;
$success-hover-color: 						limegreen;



// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$ms-base:             $base-font-size;
$ms-ratio:            1.25;

$h1:                  ms(5);
$h2:                  ms(4);
$h3:                  ms(3);
$h4:                  ms(2);
$h5:                  ms(1.5);
$h6:                  ms(0.9);

// Links
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$link-color:        #7474ad;
$link-hover-color:  #37376f;


// Fonts
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font-family:   Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-weight:   400;
$body-font-color:    #333;
$global-background:  white;

$heading-font-family: Nunito;
$heading-font-weight: 600;

// Buttons
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$button-font-size:        1.4rem;
$button-default-radius:   0.4rem;
$button-radius:           0.4rem;
$button-rounded-radius:   50rem;
$button-border-width:     0.2rem;
$button-font-weight:      600;
$button-text-transform:   none;
$button-height:           4.8rem;
$button-line-height:      4.4rem;

// Animation
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$global-tran-timing:              0.42s;
$global-tran-timing-function:     ease;
$global-tran-property:            all;

$global-transition: $global-tran-property $global-tran-timing-function $global-tran-timing;

// Forms
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$input-border-weight:         .2rem;
$input-border-radius:         .2rem;
$input-border-color:          lightgrey;
$input-border-color-focus:    $accent-color;
$input-height:                4.8rem;
$input-background-color:      white;

$cb-color-default:           #849FBB; // default color
$cb-color-default-light:     #DDDDDD; // default color light
$cb-color-active:            #57CB85; // color when active or checked
$cb-color-active-light:      #9EFFC4; // active color light
$cb-color-focus:             #6FB5FB; // color when focused

$cb-margins:                 7px; // default margin for our custom inputs

// Overlay
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$overlay-bg-color:          rgba(0,0,0,0.80);

// Misc
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$hr-color:                  lightgrey;
$blockquote-border-color:   $primary-color;

// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$table-border-width:        0 0 0.1rem;
$table-border-style:        solid;
$table-border-color:        lightgrey;
$table-cell-padding:        1.2rem 1.5rem;
$table-even-highlight:      #f9f9f9;
$table-hover-highlight:     #e8e8e8;

// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$code-background-color:     #e8e8e8;
$code-border-radius:        0.4rem;
$code-font-size:            0.9em;

$pre-background-color:     #e8e8e8;;
$pre-border-color:         $primary-color;
$pre-font-family:          "Menlo", "Consolas", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", monospace;
