.no-margin {
  margin: 0;
}

.bg-overlay {
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(62, 62, 62, 0.5);
  }

  > .container {
    position: relative;
  }
}


.feature {
  background: #f1f1f1;
}
