// Defaults and mobile first

.menu-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  min-width: 80px;
  text-align: center;
  padding: 10px;
  color: white;
  background: #42133f;
  border-radius: 5px;
  z-index: 99;

  &:hover, &:focus {
    color: white;
  }
}

@media only screen and (max-width: #{$sm-width - 0.1}) {

  .nav-wrapper {

    &:before {
      content: '';
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.24);
      opacity: 0;
      transition: all ease 0.345s;
    }

    &.active:before {
        opacity: 1;
        z-index: 97;
    }
  }

  .main-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 45%;
    background: #42133f;
    height: 100vh;
    transform: translateX(-102%);
    transition: all ease-in-out 0.450s;

    &.active {
      transform: translateX(0);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 1.4rem;

      &.dropdown {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateX(-102%);
          visibility: hidden;
          transition: all ease-in-out 0.450s;

          &.active {
            transform: translateX(0);
            visibility: visible;;
          }
      }

      li {
          margin: 0;

          a {
              display: block;
              width: 100%;
              padding: 15px 10px;
              color: white;
              background: #42133f;
              margin: 0;
          }
      }
    }
  }
}


// Screen size
@media only screen and (min-width: $sm-width){
  // Hide the mobile menu toggle
  .menu-toggle {
      display: none;
  }

  .nav-wrapper {
    position: relative;
    background: #42133f;
  }

  .main-nav {
    width: 100%;

    ul {
      margin: 0;
      list-style: none;
      display: table;
      table-layout: fixed;
      font-size: 1.4rem;

      &.dropdown {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 99;
        background: white;
        visibility: hidden;
        opacity: 0;
        transform: translateY(15px);
        transition: all ease 0.24s;
      }

      li {
        margin: 0;
        padding: 0;
        text-align: center;
        display: table-cell;
        width: 2%;

        &.has-dropdown {
          position: relative;

          li {
            width: 100%;
            display: block;

            a {
              color: black;

              &:hover {
                color: white;
              }
            }
          }

          &:hover {
            .dropdown {
              visibility: visible;;
              opacity: 1;
              transform: translateY(0);

            }
          }
        }

        a {
          color: #ffffff;
          display: block;
          font-weight: bold;
          padding: 15px 0;
          transition: all ease 0.24s;
          background-color: transparent;

          &:hover {
              background-color: #5F3256;
          }
        }
      }
    }
  }
}
