.tile {
  background: white;
  padding: 8px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.24s;
  transform: translateY(0);
  box-shadow: none;

  img {
    max-height: 170px;
    margin-bottom: 1rem;
  }

  p {
    flex: 1 0 auto;
  }

  &:hover {
    transform: translateY(-15px);
    box-shadow: 0 6px 22px rgba(0,0,0,0.15);
  }
}
